html, body, [canvas=container], [off-canvas] {  
	font-family: 'TradeGothic', sans-serif;
	font-weight: $regular;
	letter-spacing: -0.3px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height:100%;
}
body {
	background-color:$mdc-gray-50;
}
header, main, footer {
	max-width:1366px;
	margin-left:auto;
	margin-right:auto;
}
main {
	background-color:$white;
}
