header {
	border-bottom:$mdc-gray-200 solid 1px;
	background-color:$white;
}
.header-logo {
	height:41px;
}
.navbar {
	padding:0;
	height:76px;
	.navbar-brand {
		padding:0;
	}
}
.navbar-toggler {
	padding:0;
	font-size: 1.75rem;
	background-color: none !important;
	color:$primary;
	border: none;
	border-radius: 0;
}
.navbar-toggler:hover, .navbar-toggler:focus {
	background-color: none !important;
	outline:none;
}

.navbar-collapse {
	border:$primary solid 1px;
	padding:15px 30px;
	background-color:$white;
	position:absolute;
	top:76px;
	right:0;
	z-index: 1000;
	box-shadow: 0 5px 15px rgba($mdc-gray-500, .5);
	.navbar-nav .nav-item {
		a.nav-link {
			font-family: 'TradeGothic', sans-serif;
			font-weight: $bold;
			color:$mdc-gray-900;
			font-size:.98rem;
		}
	}
}

.navbar-collapse::after {
  content: " ";
  position: absolute;
  top: -10px;  /* At the top of the tooltip */
  right: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent $primary transparent;
}

.navbar-collapse::before {
  content: " ";
  position: absolute;
  top: -9px;  /* At the top of the tooltip */
  right: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  z-index: 10;
}
	
@media (min-width: 768px) {

}

@media (min-width: 992px) {	

	.navbar-collapse {
		border:none;
		margin-top:0;
		padding:0;
		position:relative;
		top:0;
		box-shadow:none;
		.navbar-nav .nav-item {
			a.nav-link {
				padding:25px 15px 0 15px;
				height:76px;
			}
			a.nav-link:hover {
				color:$white;
				background-color:$primary;
			}
		}
	}
}

@media (min-width: 1200px) {

}