@font-face {
    font-family: Amplitude;
    font-display: swap;
    src: url(../fonts/Amplitude-Light.ttf) format('truetype');
    font-weight: $light;
    font-style: normal
}

@font-face {
    font-family: Amplitude;
    font-display: swap;
    src: url(../fonts/Amplitude-Book.ttf) format('truetype');
    font-weight: $book;
    font-style: normal
}

@font-face {
    font-family: Amplitude;
    font-display: swap;
    src: url(../fonts/Amplitude-Regular.ttf) format('truetype');
    font-weight: $regular;
    font-style: normal
}

@font-face {
    font-family: Amplitude;
    font-display: swap;
    src: url(../fonts/Amplitude-Bold.ttf) format('truetype');
    font-weight: $bold;
    font-style: normal
}

@font-face {
    font-family: Amplitude;
    font-display: swap;
    src: url(../fonts/Amplitude-Black.ttf) format('truetype');
    font-weight: $black;
    font-style: normal
}

@font-face {
    font-family: TradeGothic;
    font-display: swap;
    src: url(../fonts/TradeGothicLight.ttf) format('truetype');
    font-weight: $light;
    font-style: normal
}

@font-face {
    font-family: TradeGothic;
    font-display: swap;
    src: url(../fonts/TradeGothic.ttf) format('truetype');
    font-weight: $regular;
    font-style: normal
}

@font-face {
    font-family: TradeGothic;
    font-display: swap;
    src: url(../fonts/TradeGothicBold.ttf) format('truetype');
    font-weight: $bold;
    font-style: normal
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?j1e56j');
  src:  url('../fonts/icomoon.eot?j1e56j#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?j1e56j') format('truetype'),
    url('../fonts/icomoon.woff?j1e56j') format('woff'),
    url('../fonts/icomoon.svg?j1e56j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}