.card {
	border-radius:0;
	position: relative;
	background-color:$white;
	.card-header {
		border:none;
		background-color:transparent;
	}
	.card-footer {
		border:none;
		background-color:transparent;
	}
}
.card * {
	line-height: normal;
}