form {
	input[type=text], textarea {
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
		outline: none;
		width: 100%;
		padding: 7px 20px;
		margin: 0;
		border: 2px solid $mdc-grey-400;
		box-sizing: border-box;
		border-radius:2rem;
	}
	input[type=text]:focus, textarea:focus {
		box-shadow: 0 0 10px $mdc-orange-300;
		border: 2px solid $mdc-orange-500;
	}
}