.hero {
	position:relative;
	height:300px;
	.hero-image {
		background-position:center;
		background-size:cover;
		background-repeat:no-repeat;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height: 100%;
	}
}
.hero-overlay {
	.overlay {
		position:absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		z-index: 2;
		background-color:$primary;
		opacity: .75;
	}
	.overlay-image {
		position:absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		z-index: 1;
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}
	.overlay-content {
		position:absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		z-index: 3;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.hero {
		height:380px;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.hero {
		height:460px;
	}
}



