.modal-backdrop {
	background-color:$white;
}
.modal-backdrop.show {
	opacity:.9;
}
.modal-content {
	border-radius:0;
	border:$mdc-gray-300 solid 2px;
	box-shadow: 0 0 15px rgba($mdc-gray-500, .5);
}