.quote-block {
	background-color:$primary;
	background-image:url('../images/bg-circles.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	color:$white;
	.quote {
		position:relative;
		padding-top:70px;
		p {
			font-family: 'Amplitude', sans-serif;
			font-size:1.75rem;
			line-height: 2rem;
		}
	}
	.author p {
		margin:0;
	}
	.quote:before {
		font-family: 'icomoon';
		content: "\e900";
		position:absolute;
		top:0;
		left:0;
		font-size:40px;
	}
}