.blue-circles {
	background-image: url("../images/bg-blue-circles-top-right.png");
	background-repeat: no-repeat;
	background-position: right top;
}
.white-circles {
	background-image: url("../images/bg-white-circles-top-right.png");
	background-color:$secondary;
	background-repeat: no-repeat;
	background-position: right top;
}