.btn {
	text-transform: uppercase;
	font-weight: bold;
	outline: none;
	border-radius:2rem;
	padding:.5rem 1.5rem;
}

.btn-primary {
	background-color:$primary;
	border-color:$primary;
}

.btn-outline-primary, .btn-outline-secondary, .btn-outline-success, .btn-outline-warning, .btn-outline-danger, .btn-outline-light {
	border-width:2px;
}

.map {
  position: relative;
}
.hotspot {
  width:32px;
  height:32px;
  position: absolute;
  border-radius:50%;
  transform: translate(-50%,-50%);
  background-color:$mdc-blue-500;
  button {
  	position:absolute;
  	top:0;
  	left:0;
  	width:32px;
  	height:32px;
  	z-index:1;
  	background:transparent;
  	border:none;
  	cursor: pointer;
  }
}
.hotspot:before,
.hotspot:after {
	content: '';
	display:block;
	position:absolute;
	border: 2px solid $mdc-blue-500;
	left:-20px;
	right:-20px;
	top:-20px;
	bottom:-20px;
	border-radius: 50%;
	animation: dot 1.5s linear infinite;
	opacity:0;
	backface-visibility: hidden;
}
.hotspot:after {
	animation-delay: .5s
}

@keyframes dot {
	0%
	{
		transform: scale(0.5);
		opacity: 0;
	}
	50%
	{
		opacity: 1;
	}
	100%
	{
		transform: scale(1.2);
		opacity: 0;
	}
}