.text-primary {
	color:$primary !important;
}

a.text-primary:hover,
a.text-primary:focus {
	color:$primary !important;
}

.bg-primary {
	background-color:$primary !important;
}

.text-secondary {
	color:$secondary !important;
}

a.text-secondary:hover,
a.text-secondary:focus {
	color:$secondary !important;
}

.bg-secondary {
	background-color:$secondary !important;
}