.mktoForm[style] {
	font-family: 'TradeGothic', sans-serif !important;
	font-size:1rem !important;
	width:100% !important;
}
.mktoForm {
	position:relative;
	.mktoFormRow {
		margin-bottom:1em;
		.mktoOffset, .mktoGutter {
			display:none;
		}
		.mktoFormCol {
			float:none !important;
			min-height:0 !important;
			.mktoFieldWrap {
				width:100% !important;
				float:none !important;
				.mktoLabel {
					display:block !important;
					font-size:14px;
					color:$mdc-gray-900;
					margin-bottom:5px;
					.mktoAsterix {
						display:none !important;
					}
				}
				.mktoHtmlText {
					h1, h2, h3, h4 {
						font-size:1.2rem !important;
						font-weight:$regular !important;
						border-top:$mdc-gray-300 solid 1px;
						padding:10px 0 0 0;
						margin-bottom:0;
					}
				}
				.mktoTextField, .mktoEmailField, .mktoTelField, select {
					background:$white !important;
					border-radius: .2rem !important;
					box-shadow:none !important;
					border:$mdc-gray-300 solid 1px !important;
					padding:.6rem 1rem !important;
					height:auto !important;
					font-size:16px;
				}
				.mktoLabel[style], .mktoHasWidth[style], .mktoTextField[style] {
					width:100% !important;
				}
				.mktoError {
					.mktoErrorArrowWrap .mktoErrorArrow {
						background-color:$mdc-red-600 !important;
						border: 1px solid $mdc-red-600 !important;
					}
					.mktoErrorMsg {
						border:none !important;
						border-radius:0 !important;
						background-image:none !important;
						background-color:$mdc-red-600 !important;
						box-shadow:0 3px 10px rgba($mdc-gray-900, .5) !important;
						text-shadow:none !important;
						font-weight: $bold !important;
					}
				}
			}
		}
		.mktoFormCol[style] {
			margin:0 !important;
		}
	}
	.mktoButtonRow {
		.mktoButtonWrap {
			.mktoButton {
				background:$primary !important;
				border-radius:2rem !important;
				border:none !important;
				padding:.9rem 1.6rem !important;
				font-family: 'TradeGothic', sans-serif !important;
				font-weight:$bold !important;
				font-size:14px !important;	
				color:$white !important;
				text-transform:uppercase !important;
				text-shadow:none !important;
				margin-top:1rem !important;
				box-shadow:none !important;
				height:auto !important;
				line-height:normal !important;
				outline:none !important;
				width:auto !important;	
				transition: all .5s ease;
				-moz-transition: all .5s ease;
				-ms-transition: all .5s ease;
				-webkit-transition: all .5s ease;
				-o-transition: all .5s ease;
			}
			.mktoButton:hover {
				background:$mdc-blue-500 !important;
			}
		}
		.mktoButtonWrap[style] {
			margin-left:0 !important;
		}
	}
}

.mktoForm .mktoCheckboxList {
	position:absolute !important;
	top:0 !important;
	left:0 !important;
  margin:0 !important;
  float:none !important;
  padding:0 !important;
  input[type=checkbox] {
		position:absolute !important;
		top:5px !important;
		right:3px !important;
		z-index: 1;
  }
}

.mktoForm input[type=checkbox] + label:before, .mktoForm input[type=radio] + label:before {
		content: "";
    position: absolute !important;
    right:0 !important;
    width: 20px !important;
    height: 20px !important;
    margin-left: 0 !important;
    line-height: normal !important;
    font-family: Arial, sans-serif;
    font-size: 14px !important;
    border: $mdc-gray-300 solid 1px !important;
    box-shadow: none !important;
    background: #fff;
}

.sidebar-form {
	background-image:url("../images/bg-circles.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	h3, h4, h5, p {
		color:$white;
	}
	.mktoForm .mktoFormRow .mktoFormCol .mktoFieldWrap {
		.mktoLabel {
			color:$white;
			margin-bottom:5px;
		}
		.mktoTextField, .mktoEmailField, .mktoTelField, select {
			border-radius: 2rem !important;
			border:none !important;
			padding:.5rem 1.5rem !important;
		}
	}
	.mktoButtonRow {
		.mktoButtonWrap {
			.mktoButton {
				background:transparent !important;
				border-radius:2rem !important;
				border:$white solid 2px !important;
				padding:.8rem 1.5rem !important;
				color:$white !important;
			}
			.mktoButton:hover {
				background:$white !important;
				color:$primary !important;
			}
		}
	}
}

@media (min-width: 992px) {	

}