h1 {
	font-size:2rem;
	letter-spacing: -1px;
	font-weight: $bold;
}

h2 {
	font-size:1.75rem;
}

h3 {
	font-size:1.5rem;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom:1rem;
	color:$mdc-gray-900;
}

h2, h3, h4, h5, h6 {
	margin-top:1.63rem;
	line-height: 1.5em;
}

h2, h3, h4 {
	font-family: 'Amplitude', sans-serif;
}

p, li {
	line-height: 1.63rem;
}

ul.checklist {
	list-style: none;
	padding:0;
	li {
		padding-left:30px;
		position:relative;
	}
	li:before {
		position: absolute;
		font-family: 'icomoon';
		top: 0;
		left: 5px;
		content: $checkmark;
		color:$mdc-green-500;
	}
}
figure {
	margin:3rem 0;
	background-color:$mdc-gray-100;
	padding:1rem;
}

@media (min-width: 576px) {
	h1 {
		font-size:2.5rem;
	}

	h2 {
		font-size:2rem;
	}

	h3 {
		font-size:1.6rem;
	}
}

@media (min-width: 768px) {	
	h1 {
		font-size:2.8rem;
	}

	h2 {
		font-size:2.3rem;
	}
	
	h3 {
		font-size:1.75rem;
	}
}

@media (min-width: 992px) {	
	h1 {
		font-size:3rem;
	}
}

@media (min-width: 1200px) {  }