.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin:5rem 0;
	iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.premium-video {
	margin:0;
	.overlay {
		position:absolute;
		top:0;
		width:0;
		height:100%;
		width:100%;
		z-index: 1;
		.overlay-color {
			position:absolute;
			top:0;
			width:0;
			height:100%;
			width:100%;
			background-color:$mdc-gray-900;
			opacity: .75;
			z-index: 2;
		}
		.overlay-content {
			position:absolute;
			top:0;
			width:0;
			height:100%;
			width:100%;
			z-index: 3;
		}
	}

}
.tweets {
	margin:5rem 0;
	.twitter-tweet {
		margin-right:auto;
		margin-left:auto;
	}
}