.sixteen-nine {
  @include aspect-ratio(16, 9);
  position:relative;
}
.twenty-one-nine {
  @include aspect-ratio(21, 9);
  position:relative;
}
.four-three {
  @include aspect-ratio(4, 3);
  position:relative;
}
.square {
  @include aspect-ratio(1, 1);
  position:relative;
}

.bg-image-cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-image-contain {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.bg-image-fixed {
	background-position: center;
	background-repeat: no-repeat;
	background-size: fixed;
}

.tyler-social {
	.icon {
		display:inline-block;
		height:32px;
		width:32px;
		border-radius: 50%;
		box-shadow: 0 0 0 0 $white;
		background-color:$white;
		position:relative;
		a {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	}
	.icon:before {
		position: absolute;
		font-family: 'icomoon';
		font-size:18px;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);		
		color:$primary;
		line-height: normal;
	}
	.linkedin:before {
		content: $linkedin;
	}
	.facebook:before {
		content: $facebook;
	}	
	.twitter:before {
		content: $twitter;
	}
	.instagram:before {
		content: $instagram;
	}
}