@include media-breakpoint-up(xs) {
	main {
		padding-top:3rem;
	}
	.hero {
		height:400px;
		background-size: cover;
		background-position:center;
		background-repeat:no-repeat;
		h1 {
			font-size:2rem;
		}
	}
	.login {
		height:100vh;
		.logo {
			height:100px;
			width:143px;
			background-repeat:no-repeat;
			background-position:right;
		}
		.right {
			position:relative;
			height:100vh;
			padding:0;
		}
		.content {
			position: absolute;
			top: 50%;
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			width:100%;
			.inside {
				min-width:320px; position: absolute;
				top: 50%;
				left:50%;
				-ms-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
				padding:50px 0;
			}
		}
	}
}
@include media-breakpoint-up(sm) {
	.hero {
		height:500px;
		h1 {
			font-size:2.5rem;
		}
		.lead {
			font-size:1.5rem;
		}
	}
}
@include media-breakpoint-up(md) {
	main {
		padding-top:6rem;
	}
	.hero {
		height:600px;
		.lead {
			font-size:1.8rem;
		}
	}
	.login {
		.left, .right {
			height:100vh;
			padding:0;
		}
		.left .content {
			padding:0 50px;
			.display-4 {
				font-size:2.5rem;
			}
		}
	}
}
@include media-breakpoint-up(lg) {
	main {
		padding-top:8rem;
	}
	.hero {
		height:760px;
	}
}
@include media-breakpoint-up(xl) {
	.login {
		.left .content {
			padding:0 100px;
			.display-4 {
				font-size:3.5rem;
			}
		}
	}
}