html, body, [canvas=container], [off-canvas] {  
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: -0.3px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height:100%;
	background-color:$white;
}
h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans-serif;
}
h1, h2 {
	letter-spacing: -1px;
}
h5 {
	font-weight: 400;
}
a {
	text-decoration: none;
	color:$mdc-blue-500;
}
a:hover {
	text-decoration:none;
	color:$mdc-blue-700;
}
.text-sentencecase {
	text-transform: none !important;
}
/* Reponsive Video iFrame */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.accordion {
	.btn {
		white-space: normal !important;
		text-align: left !important;
	}
}
.img-background {
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}